body {
  background-color: white;
  background:rgb(66, 17, 17) 100%;
  margin: 0;
}

#menu {
  background-color: white;
  background: rgb(90, 31, 31) 100%;
  width: 300px;
  height: 1200px;
  text-align: center;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
  margin-top: -32px;
}

.logo {
  width: 150px;
  border: 6px double black;
  border-radius: 50%;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 1.5rem;
  font-size: black;
  font-family: "Ancizar Serif", serif;
}

h2 {
  font-size: 1.3rem;
  font-family: "Ancizar Serif", serif;
}

.links1 {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease;
}

.links1:hover {
  background: rgb(133, 52, 52);
  color: white;
  font-size: 1.5rem;
}

header {
  float: left;
}

#conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info01 {
  background-color: #833b3b;
  margin: 2rem 1rem 0.5rem 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

.info02 {
  color: black;
  background-color: #812d2d;
  margin: 2rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

.info03 {
  color: black;
  background-color: #812d2d;
  margin: 2rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

.info04 {
  color: black;
  background-color: #812d2d;
  margin: 2rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

.info05 {
  color: black;
  background-color: #812d2d;
  margin: 2rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

.info06 {
  color: black;
  background-color: #812d2d;
  margin: 2rem 1rem 0rem 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 200px;
  box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #833b3b;
  color: white;
  font-size: 1.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  clear: both;
  padding: 0.5rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

